<table class="table table-hover">
  <thead class="thead-light">
    <th>ID</th>
    <th>Cliente</th>
    <th>Total do Pedido</th>
    <th>Data de Criação</th>
    <th><a class="btn btn-success text-white" routerLink="/order"><i class="fa fa-plus"></i> Novo</a></th>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderList">
      <th>{{ item.id }}</th>
      <td>{{ getClientBy(item.client).client_name }}</td>
      <td>{{ item.grand_total }}</td>
      <td>{{ item.create_date | date:"dd/MM/yyyy 'às' HH:mm:ss" }}</td>
      <td>
        <a class="btn btn-sm btn-info text-white" (click)="openForEdit(item.id)"><i class="fa fa-pencil-alt"></i></a>
        <a class="btn btn-sm btn-danger text-white ml-1" (click)="delete(item.id)"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>
